.calendar {
}
.calendar .header {
  display: flex;
  flex-direction: row;
  justify-content: justify-content;
  align-items: align-items;
}
.calendar .header .col.col-first .calendar .header .col.col-end .days {
}
.days .col {
}

.body {
}
.body .row {
}
.body .row .col {
}
.body .col.cell.valid {
}
.body .col.cell.valid:hover {
}
.body .col.cell.selected {
}
