@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

.calendar {
  width: 320px;
  height: 360px;
  background-color: white;
  border-radius: 12px;
  font-family: 'Noto Sans KR';
}
.calendar .header {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar .header span {
  font-weight: 700;
}

.calendar .header .col.col-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}

.calendar .days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.calendar .days .col {
  width: 44px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar .body {
  text-align: center;
}

.calendar .body .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calendar .body .row .col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.calendar .body .col.cell {
  width: 44px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .body .col .valid {
  color: blueviolet;
}

.calendar .body .col.cell.valid:hover {
  transform: scale(1.01);
  border: none;
}

.calendar .body .col.cell.selected {
  border: none;
  border-radius: 8px;
  background: #ff821a;
  color: white;
}

.calendar .text {
  color: rgb(155, 155, 155);
}

.calendar .prev_button {
  width: 24px;
  height: 24px;
  background-image: url(./asset/ic_chevron_left.svg);
  filter: invert(52%) sepia(11%) saturate(407%) hue-rotate(176deg)
    brightness(96%) contrast(93%);
}

.calendar .next_button {
  width: 24px;
  height: 24px;
  background-image: url(./asset/ic_chevron_right.svg);
  filter: invert(52%) sepia(11%) saturate(407%) hue-rotate(176deg)
    brightness(96%) contrast(93%);
}
